<section class="container py-5">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-left">Games so far this season</h4>
      <div class="overflowX">
        <table class="table table-responsive table-bordered d-table text-center table-stats">
          <thead>
            <tr>
              <th>margin</th>
              <th>hconfidence</th>
              <th>confidence</th>
              <th>venue</th>
              <th>updated</th>
              <th>tipteamid</th>
              <th>gameid</th>
              <th>tip</th>
              <th>sourceid</th>
              <th>winner</th>
              <th>err</th>
              <th>correct</th>
              <th>ateamid</th>
              <th>source</th>
              <th>date</th>
              <th>tz</th>
              <th>ateam</th>
              <th>ateam</th>
              <th>hteamid</th>
              <th>ateam</th>
              <th>bits</th>
              <th>round</th>
              <th>year</th>
            </tr>
          </thead>
          <!---->
          <tbody class="ng-star-inserted">
            <!---->
          </tbody>
          <tbody class="ng-star-inserted">
            <!---->
            <tr class="bg-ed ng-star-inserted" *ngFor="let games of game; let i = index">

              <td>{{games.margin}}</td>
              <td>{{games.hconfidence}}</td>
              <td>{{games.confidence}}</td>
              <td>{{games.venue}}</td>
              <td>{{games.updated}}</td>
              <td>{{games.tipteamid}}</td>
              <td>{{games.gameid}}</td>
              <td>{{games.tip}}</td>
              <td>{{games.sourceid}}</td>
              <td>{{games.winner}}</td>
              <td>{{games.err}}</td>
              <td>{{games.ateamid}}</td>
              <td>{{games.source}}</td>
              <td>{{games.ateam}}</td>
              <td>{{games.date}}</td>
              <td>{{games.tz}}</td>
              <td>{{games.hteamid}}</td>
              <td>{{games.ateam}}</td>
              <td>{{games.bits}}</td>
              <td>{{games.round}}</td>
              <td>{{games.year}}</td>
            </tr>
          </tbody>
          <!---->
        </table>
      </div>
      <!---->
    </div>
  </div>
</section>